{% load static %}
{% load custom_filter %}

{% for member in joined_members %}        
<div class="px-3 py-2 rounded-md flex w-full items-center gap-x-4 gap-y-2 justify-between min-[360px]:flex-row max-[320px]:items-start bg-[#1a1f2b] border border-[#2d323b] shadow-sm" id='user_id_{{member.id}}'>
    <div class="flex gap-x-4 items-center">
        <div class="shrink-0">
            <a href='{% url "user_profile" member.user.username %}'>
                <img src="{{ member.profile_image.url }}?v={{member.updated_at.timestamp}}" class="rounded-lg w-14 h-14 shrink-0 border border-[#2d323b] bg-[#0e1217]" alt="">
            </a>
        </div>
        <div class="flex flex-col w-[75%] gap-y-1">
            <a href='{% url "user_profile" member.user.username %}' class="font-bold cursor-pointer hover:underline transition text-white">
                {{ member.user.first_name }} {{ member.user.last_name }}
            </a>
            <p class="text-gray-400">@{{ member.user.username }}</p>
        </div>
    </div>
    {% comment %} dynammic changing option {% endcomment %}
    <div class="shrink-0">

        {% comment %} for creator and pending status option {% endcomment %}
        {% if project_obj.creator == request.user.info and status == 'pending' %}
            <div class="flex gap-x-2">
                <button onclick="accept_or_reject_request({{ project_obj.id }}, {{ member.id }}, 'accept')"
                    class="bg-gradient-to-br from-green-600 to-green-900 px-3 py-1 rounded-md text-white font-semibold border border-green-700 hover:from-green-500 hover:to-green-800 transition cursor-pointer">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                
                <button onclick="accept_or_reject_request({{ project_obj.id }}, {{ member.id }}, 'reject')"
                    class="bg-gradient-to-br from-red-600 to-red-900 px-3 py-1 rounded-md text-white font-semibold border border-red-700 hover:from-red-500 hover:to-red-800 transition cursor-pointer">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        {% else %}
            {% if user.info == member%}
            <a href='{% url "user_profile" user.username %}' class="bg-gradient-to-br from-green-600 to-green-900 px-3 py-1 rounded-md text-white font-semibold border border-green-700 transition-all hover:from-green-500 hover:to-green-800">View</a>
            {% elif user.info|is_following:member %}
            <a href="javascript:void(0);" class="follow-btn px-4 py-2 bg-[#262b34] text-white font-mono text-sm rounded-md hover:scale-[1.03] transition" data-user-id="{{ member.id }}">
                <span class="btn-text">&lt;Unfollow/&gt;</span>
            </a>
            {% else %}
            <a href="javascript:void(0);" class="follow-btn px-4 py-2 bg-[#6feb85] text-black font-mono text-sm rounded-md hover:scale-[1.03] transition" data-user-id="{{ member.id }}">   
                <span class="btn-text">&lt;Follow/&gt;</span>
            </a>
            {% endif %}
        {% endif %}
            
    </div>
</div>          
{% endfor %}