{% extends "myapp/base.html" %} 
{% load static %}
{% load custom_filter %}

{% block title %}DevMate{% endblock %} 
{% block style %}<link rel="stylesheet" href="{% static 'styles/user_profile_page.css' %}"/>
{% block meta %}{{event_form.media}}{% endblock  %}
{% endblock %} 

{% block body_class %}text-[15px] h-full bg-[#0e1217] overflow-x-hidden{% endblock %}
    
{% block content %}

    <!-- navbar -->
    {% include "includes/navbar.html" %}   

    <!-- main section -->
    <div class="mt-20 w-full pb-20 lg:pb-10" id='entireSection'>
        <div class="flex justify-center flex-col items-center gap-y-4 w-[90%] md:w-1/2 lg:w-2/5 bg-[#1a1f2b] border border-[#2d323b] p-6 mx-auto rounded-xl shadow-lg">
            <p class='text-2xl lg:text-3xl font-bold text-white mt-2 tracking-tight'>Create Event 📅</p>
            <div class="w-full mt-4">
                <form method='post' id='eventForm' enctype="multipart/form-data" class="flex flex-col gap-y-5 w-full">
                    {% csrf_token %}
                    <div class="flex flex-col gap-y-1">
                        <label for="eventName" class="text-base text-gray-300">{{event_form.title.label}}</label>
                        {{event_form.title}}
                        {% if event_form.title.errors %}
                            <div class="text-red-500 font-semibold text-sm">
                                {% for error in event_form.title.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label for="eventDescription" class="text-base text-gray-300">{{event_form.short_description.label}}</label>
                       {{event_form.short_description}}
                        {% if event_form.short_description.errors %}
                            <div class="text-red-500 font-semibold text-sm">
                                {% for error in event_form.short_description.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label class="text-base text-gray-300">{{event_form.event_type.label}}</label>
                        {{event_form.event_type}}
                    </div>
                    <div class="flex gap-x-4 items-center">
                        <div class="flex flex-col gap-y-1 w-full">
                            <label class="text-base text-gray-300">{{event_form.mode.label}}</label>
                            {{event_form.mode}}
                        </div>
                        <div class="flex flex-col gap-y-1 w-full">
                            <label class="text-base text-gray-300">{{event_form.location.label}}</label>
                            {{event_form.location}}
                        </div>
                    </div>

                    <div class="flex flex-col gap-y-1 w-full">
                        <label class="text-base text-gray-300">{{event_form.registration_link.label}}</label>
                        {{event_form.registration_link}}
                        {% if event_form.registration_link.errors %}
                            <div class="text-red-500 font-semibold text-sm">
                                {% for error in event_form.registration_link.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <label class="text-base text-gray-300">{{event_form.banner.label}}</label>
                       {{event_form.banner}}
                       {% if event_form.banner.errors %}
                            <div class="text-red-500 font-semibold text-sm">
                                {% for error in event_form.banner.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if event_form.banner.value %}
                        <p class='text-sm text-gray-400'>Current: <a href="{{event_form.banner.value.url}}" target="_blank" class="text-green-400 hover:text-green-300 underline">{{event_form.banner.value}}</a></p>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label class="text-base text-gray-300">{{event_form.description.label}}</label>
                       {{event_form.description}}
                       {% if event_form.description.errors %}
                            <div class="text-red-500 font-semibold text-sm">
                                {% for error in event_form.description.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div><hr class="border-t border-[#2d323b] my-4">

                    <!--Timings-->
                    <p class="text-xl font-bold text-white mx-auto border-b border-[#2d323b]">Event Schedule</p>
                    <div class="flex gap-x-4"> <!--Start date & time-->
                        <div class="flex flex-col gap-y-1 w-full"> 
                            <label for="" class="text-base text-gray-300">Event date</label>
                            {{event_form.start_date}}
                        </div>
                        <div class="flex flex-col gap-y-1 w-1/2"> 
                            <label for="" class="text-base text-gray-300">Start time (UTC) <span class='text-gray-500'></span></label>
                            {{event_form.start_time}}
                        </div>
                    </div>
                    {% if event_form.start_date.errors %}
                        <div class="text-red-500 font-semibold text-sm">
                            {% for error in event_form.start_date.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="flex gap-x-4">
                        <div class="flex flex-col gap-y-1 w-full"> 
                            <label class="text-base text-gray-300">{{event_form.end_date.label}}</label>
                            {{event_form.end_date}}
                        </div>
                        <div class="flex flex-col gap-y-1 w-1/2"> 
                            <label class="text-base text-gray-300">End time (UTC) <span class='text-gray-500'></span></label>
                            {{event_form.end_time}}
                        </div>
                    </div><hr class="border-t border-[#2d323b] my-4">

                    <!--Organizers Detail-->
                    <p class="text-xl font-bold text-white mx-auto border-b border-[#2d323b]">Organizer Details</p>
                    <div class="flex flex-col gap-y-1">
                        <label for="eventOrganizerName" class="text-base text-gray-300">{{event_form.contact_name.label}}</label>
                       {{event_form.contact_name}}
                    </div>
                    <div class="flex gap-x-4">
                        <div class="flex flex-col gap-y-1 w-full">
                            <label for="organizerEmail" class="text-base text-gray-300">{{event_form.contact_email.label}}</label>
                            {{event_form.contact_email}}
                            {% if event_form.contact_email.errors %}
                                <div class="text-red-500 font-semibold text-sm">
                                    {% for error in event_form.contact_email.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="flex flex-col gap-y-1 w-full">
                            <label for="organizerPhone" class="text-base text-gray-300">{{event_form.contact_phone.label}}</label>
                            {{event_form.contact_phone}}
                            {% if event_form.contact_phone.errors %}
                                <div class="text-red-500 font-semibold text-sm">
                                    {% for error in event_form.contact_phone.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="self-center mt-4 flex gap-x-5">
                        <button id="eventSubmitButton" type="submit" class="flex items-center gap-2 bg-gradient-to-br from-green-600 to-green-900 hover:from-green-500 hover:to-green-800 text-white font-semibold px-4 py-3 rounded-xl shadow-lg hover:shadow-xl transition duration-300 hover:scale-105 cursor-pointer">
                            <i class="fa-solid fa-floppy-disk"></i> Save
                        </button>
                        {% if is_edit %}
                        <a href='{% url "delete_event" event_obj.uuid %}' class="bg-gradient-to-br from-red-600 to-red-800 hover:from-red-500 hover:to-red-700 text-white font-semibold px-4 py-3 rounded-xl shadow-lg hover:shadow-xl transition duration-300 hover:scale-105">Delete</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include "includes/create-post.html" %}
    <script>
    //Disable sbt btn for event, when loading.
    $(document).ready(function () {
        $('#eventForm').on('submit', function () {
            const submitBtn = $('#eventSubmitButton');
            submitBtn.prop("disabled", true);
            submitBtn.html(`<i class="fa-solid fa-spinner fa-spin mr-2"></i> Posting...`);
        });
    });
    </script>

{% endblock  %}