{# Comment notification #}
<p class="text-[#e6edf3]">
    <a href="{% url 'user_profile' notification.actor.user.username %}" 
       class="font-semibold text-[#e6edf3] hover:text-[#58a6ff] hover:underline"
       onclick="event.stopPropagation();">
        {{ notification.actor.user.username }}
    </a>
    <span class="text-[#7d8590]"> commented on your log</span>
</p>

{% if notification.action_object %}
<div class="mt-2 pl-3 border-l-2 border-[#30363d] text-xs text-[#7d8590] line-clamp-2">
    {{ notification.action_object.content|truncatechars:120 }}
</div>
{% endif %}
