{% load static %}
<!-- create post -->
 <div class="hidden fixed items-center justify-center top-20 bottom-12 left-0 right-0" id="createPost">
    <form method='post' action = ''  enctype="multipart/form-data"
        class="border border-[#2d323b] rounded-md shadow-md relative flex flex-col gap-y-3 h-full overflow-y-scroll bg-[#0e1217] w-full md:w-3/4 lg:w-1/2">
        {% csrf_token %}
        <div class="relative flex flex-col gap-y-4 lg:p-4 p-6 overflow-y-scroll items-center py-10 bg-[#0e1217] w-full">
            <div class="cursor-pointer absolute top-5 right-5" onclick="closePost()"><i
                    class="text-2xl md:text-3xl fa-solid fa-circle-xmark text-gray-400 hover:text-white transition"></i>
            </div>
            <p class="mt-5 w-fit self-center text-lg md:text-2xl font-bold bg-gradient-to-br from-green-600 to-green-900 text-white px-3 py-1 text-center rounded">
                Create Post</p>
            <div class="flex flex-col items-start gap-4 border border-[#2d323b] p-4 w-full max-w-[34rem] mx-auto bg-[#0e1217]">
                <!-- Post Image -->
                <div class="aspect-video overflow-hidden w-full bg-[#1a1f26]" id="postImgContainer">
                    <input type="hidden" name="aspect_ratio" id="aspectRatioInput" value = '16:9'> <!--For Aspect.-->
                    <img src="" alt="Post Banner" class="hidden w-full h-full object-cover aspect-video"
                        id="postImg">
                    <div id="uploadPostContainer" class="flex justify-center items-center h-full">
                        <label for="uploadPost">
                            <div class="flex items-center justify-center flex-col h-full">
                                <img src="{% static 'assets/uploadPost.svg' %}" alt="" class="aspect-video lg:w-52 w-28 filter brightness-0 invert opacity-60">
                                <p class="text-gray-300">Upload the files here...</p>
                            </div>
                        </label>
                        {{post_form.file}}
                    </div>
                </div>
                <label id="uploadPostLabel" for="uploadPost"
                    class="hidden bg-[#1a1f26] text-white font-bold rounded-md px-3 py-1 hover:bg-[#1a1f26] transition cursor-pointer">Change</label>

                    <div class="flex gap-x-2 self-end">
                        <div class="cursor-pointer hover:bg-[#1a1f26] md:text-base text-sm hover:text-white focus:bg-[#1a1f26] focus:text-white transition bg-[#2d323b] text-white border border-[#1a1f26] px-2 md:px-3 py-1"
                            onclick="setImgOriginal(); setAspectRatio('Original')">Original</div>
                        <div class="cursor-pointer hover:bg-[#1a1f26] md:text-base text-sm hover:text-white focus:bg-[#1a1f26] focus:text-white transition bg-[#2d323b] text-white border border-[#1a1f26] px-3 py-1"
                            onclick="resizePost(0); setAspectRatio('1:1')">1:1</div>
                        <div class="cursor-pointer hover:bg-[#1a1f26] md:text-base text-sm hover:text-white focus:bg-[#1a1f26] focus:text-white transition bg-[#2d323b] text-white border border-[#1a1f26] px-3 py-1"
                            onclick="resizePost(1); setAspectRatio('16:9')">16:9</div>
                    </div>
                {{post_form.content}}
                <input type="hidden" name="action" id="postActionInput" value="">
            </div>
            <button type="submit" id="postSubmitButton"
                class="self-center bg-gradient-to-br from-green-600 to-green-900 hover:from-green-500 hover:to-green-800 text-white px-4 py-2 mt-2 lg:mb-7 rounded-lg font-medium shadow-sm hover:shadow-md flex items-center gap-2 transition duration-200 cursor-pointer">
                <i class="fa-solid fa-feather-pointed text-sm"></i>
                Post
            </button>

        </div>
    </form>
</div>
