<div class="text-[#a8b3cf] hidden w-1/6  flex-col justify-between h-[calc(100vh-57px)] sticky top-14 mt-14 py-7 bg-[#0e1217] shadow-lg md:hidden min-w-48 lg:flex overflow-y-auto scrollbar-thin transition-all duration-300 ease-in-out border-r border-[#2d323b]">

    <div class="flex px-10">
        <div class="flex flex-col justify-center py-3 gap-y-6 w-full mt-3 text-base font-normal">
            <!-- Home & Explore -->
            <span class="uppercase text-xs text-gray-500 tracking-widest px-2 mb-2">DISCOVER</span>

            <a href='{% url "index" %}' class="px-5 py-1 -ml-5 transition-colors duration-200 rounded-md hover:bg-[#1a2233] hover:text-white {% if active_home %}bg-gradient-to-r from-green-500 text-white shadow-lg font-semibold{% endif %}">
            <i class="fa-solid fa-house text-base"></i>&nbsp;&nbsp;Home
            </a>
            <a href='{% url "explore-project" %}' class="px-5 py-1 -ml-5 transition-colors duration-200 rounded-md hover:bg-[#1a2233] hover:text-white {% if active_explore %}bg-gradient-to-r from-green-500 text-white shadow-lg font-semibold{% endif %}">
            <i class="fa-regular fa-compass text-base"></i>&nbsp;&nbsp;Explore
            </a>
            <a href='{% url "explore_dev" %}' class="px-5 py-1 -ml-5 transition-colors duration-200 rounded-md hover:bg-[#1a2233] hover:text-white {% if active_explore_dev %}bg-gradient-to-r from-green-500 text-white shadow-lg font-semibold{% endif %}">
            <i class="fa-solid fa-code text-base"></i>&nbsp;&nbsp;Find Dev
            </a>

            <!-- Divider -->
            <hr class="border-gray-400 my-4">

            <span class="uppercase text-xs text-gray-500 tracking-widest px-2 ">TERMINAL</span>
            <a href='{% url "explore_logs_page" %}' class="{{active_logs}}">
            <i class="fa-solid fa-brain text-base"></i>&nbsp;&nbsp;Logs
            </a>
            <a href='{% url "terminal_page" %}' class="{{active_terminal}}">
            <i class="fa-solid fa-terminal text-base"></i>&nbsp;&nbsp;Command
            </a>
            <a href='{% url "personal_logbook" user.username %}' class="{{active_logbook}}">
            <i class="fa-solid fa-book text-base"></i>&nbsp;&nbsp;Logbook
            </a>
        </div>
    </div>

    <!-- Bottom Controls -->
    <div class="flex flex-col justify-between items-center gap-y-8 px-10">
        <a href="{% url 'leaderboard_page' %}"
            class="inline-flex items-center px-5 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <i class="fa-solid fa-trophy text-base mr-2"></i>
                    Leaderboard
        </a> 
    
        <div class="flex justify-around w-full">
            <div><a href='{% url "calendar_page" %}'><i class="text-lg fa-solid fa-calendar-days"></i></a></div>
            <div><a href='{% url "saved_page" %}'><i class="text-lg fa-regular fa-bookmark"></i></a></div>
            <div><a href='{% url "user_profile" user.username %}'><i class="text-lg fa-solid fa-user"></i></a></div>   
        </div>
    </div>
</div>