<!-- Terminal Navigation Dock -->
<div class="fixed top-4 right-4 z-50 font-mono text-white text-xs sm:text-sm">

    <div class="relative">
    <!-- Toggle Menu Button -->
    <button id="navToggle" class="bg-gray-800 hover:bg-gray-700 px-4 py-2 rounded-md shadow-lg transition w-full">
    ▸ navigate
    </button>

    <!-- Dropdown Menu -->
    <div id="navMenu" class="hidden absolute right-0 mt-2 w-48 sm:w-56 bg-gray-900 border border-gray-800 rounded-md shadow-2xl overflow-hidden">
        <a href="" class="flex items-center justify-between px-4 py-2 hover:bg-gray-800 border-b border-gray-800 transition">
            ~/command
            <span class="hidden sm:inline-block text-gray-500 text-xs">ALT + T</span>
        </a>
        <a href="{% url 'explore_logs_page' %}" class="flex items-center justify-between px-4 py-2 hover:bg-gray-800 border-b border-gray-800 transition">~/explore.logs
            <span class="hidden sm:inline-block text-gray-500 text-xs">ALT + L</span>
        </a>
        <a href="{% url 'personal_logbook' user.username %}" class="flex items-center justify-between px-4 py-2 hover:bg-gray-800 border-b border-gray-800 transition">~/logbook
            <span class="hidden sm:inline-block text-gray-500 text-xs">ALT + B</span>
        </a>
        <a href="{% url 'index' %}" class="group flex items-center justify-between px-4 py-2 hover:bg-red-500 transition text-white">~/exit
            <span class="hidden sm:inline-block text-xs text-gray-500 group-hover:text-white transition">ALT + Q</span>
        </a>
    </div>
    </div>

</div>