{% load static %}
{% load custom_filter %}

{% for item in feed_items %}

    {% if item.feed_type == "post" %} 
    <!-- Single Post -->
    <div class="bg-white shadow-md rounded-lg w-full max-w-[34rem] min-w-[20rem] lg:min-w-[30rem] p-4">
        <!-- User Info -->
        <div class="flex items-center justify-between">
            <div class="flex items-center space-x-3">
                {% if item.user %}
                <div class="relative inline-block">
                    <a href='{% url "user_profile" item.user.user.username %}'>
                        <img src="{{ item.user.profile_image.url }}?v={{item.user.updated_at.timestamp}}" alt="User" class="w-12 h-12 rounded-lg object-cover">    
                        {% if item.user.last_seen|is_online %}
                            <span class="absolute bottom-0 right-0 block w-3 h-3 bg-green-500 border-2 border-white rounded-full" title='Active'></span>
                        {% endif %}
                    </a>
                </div>
                <div>
                    <a href='{% url "user_profile" item.user.user.username %}' class="font-semibold">
                        {{ item.user.user.first_name }} {{ item.user.user.last_name }}
                    </a>
                    <p class="text-xs text-gray-500">{{ item.created_at|date:"F j, Y" }}</p>
                </div>
                {% endif %}
            </div>
            </div>
            
            <!-- More Options Button -->
            {% if item.user == request.user.info %}
            <div class="relative">
                <button id="postMenuTrigger-{{ item.id }}" class="text-gray-500 hover:text-gray-700 text-xl">
                    •••
                </button>
                <div id="postMenu-{{ item.id }}" class="hidden absolute right-0 top-8 flex-col backdrop-blur rounded-md shadow-md border border-gray-200 z-10">
                    <a href="{% url 'delete_post' item.id %}" class="flex items-center gap-x-1 px-4 py-2 text-red-800 hover:bg-red-100 hover:text-red-800 transition duration-200 w-full text-left">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                        <span>Delete</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- Post Content -->
        <div class="prose max-w-none mt-3 text-gray-800">
            {{item.content|safe}}
        </div>
        {% comment %} ORIGINAL = video | 1:1: SQUARE object-cover | 16: 9 = VIDEO object-cover{% endcomment %}
        <div class="mt-3 w-full {% if item.aspect == 'Original' or item.aspect == '16:9' %}aspect-video {% else %} aspect-square{% endif %} overflow-hidden">
            <img src="{{item.file.url}}" alt="Post" class="w-full h-full {% if item.aspect == 'Original' %}object-contain{% else %} object-cover{% endif %}">  
        </div>

        <!-- Actions -->
        <div class="flex justify-between mt-3 text-gray-600 text-sm">
            <div class="flex gap-x-3">

                <div class="flex items-center space-x-2 cursor-pointer like-container" data-post-id="{{ item.id }}">
                    <i class="text-xl fa-solid fa-heart {% if user.info in item.likes.all %}text-[#6feb85]{% endif %}"></i> 
                    <span class="like-count">{{ item.total_likes }}</span>
                </div>

                <div class="commentBtn flex items-center space-x-2 cursor-pointer hover:text-[rgb(111,235,133)]">
                    <i class="text-xl fa-solid fa-comment"></i> <span id='postCommentCount{{item.id}}'>{{item.tot_comments}}</span>
                </div>
            </div>
            <div class="bookmarkBtn cursor-pointer bookmark-container" data-post-id = "{{ item.id }}">
                <i class="text-xl fa-solid fa-bookmark {% if item in user.info.saved_items.posts.all %}text-[#6feb85]{% endif %}"></i>
            </div>
        </div>

        <!-- Comments Section -->
        <div class="mt-3 hidden commentsSection">

            <!-- Add a Comment -->
            <form method='post' action="{% url 'save_comment' %}" class="postCommentForm flex items-center space-x-2 mt-3" data-post-id="{{ item.id }}">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ item.id }}">
                <input type="text" name="comment" placeholder="Write a comment..." class="flex-1 border p-2 rounded-lg outline-none" required>
                <button type='submit' class="bg-black text-white px-3 py-2 rounded-md transition hover:scale-105">Post</button>
            </form>

            <!-- all Comments -->
            <div class="flex flex-col gap-y-4 mt-6"  id ='postCommentContainer{{ item.id }}'>
                {% for comment in item.comments.all %}
                <!-- single comment -->
                <div class="flex items-start space-x-2" id="postComment{{ comment.id }}" >
                    <a href='{% url "user_profile" comment.user.user.username %}'><img src="{{comment.user.profile_image.url}}?v={{comment.user.updated_at.timestamp}}" alt="User" class="w-8 h-8 rounded-sm object-cover"></a>
                    <div class="bg-gray-50 p-2 rounded-lg w-full flex flex-row items-center justify-between">
                        <div>
                            <a href='{% url "user_profile" comment.user.user.username %}' class="text-sm font-semibold -mt-2">{{comment.user.user.username}}</a>
                            <p class="text-sm mt-2">{{comment.content|linebreaksbr}}</p>
                        </div>
                        {% if comment.user == user.info %}
                        <button class="deletePostComment" data-comment-id="{{ comment.id }}">
                            <img src='{% static "assets/trash-bin.svg" %}' class='h-6 w-6 cursor-pointer'>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <!-- end of single comment -->
                {% endfor %}
            </div>
        </div>
    </div>

    {% endif %}

    {% if forloop.counter0|add:offset == 10 %}
    <!-- suggested profile section -->
    <div class="w-full mt-2">
        <p class="text-lg md:text-xl font-semibold mb-3 md:mb-4 px-2">{% if suggested_peoples %}Suggested Profiles{% endif %}</p>

        <div class="flex space-x-3 md:space-x-4 overflow-x-auto scrollbar-hide p-2">
            <!-- Profile Cards with responsive sizing -->
            {% for people in suggested_peoples %}
            <div class="w-36 md:w-48 bg-white border border-gray-300 p-2 md:p-4 rounded-lg flex flex-col gap-y-1 items-center text-center shrink-0 shadow-lg">
                <a href='{% url "user_profile" people.user.username %}'>
                    <img src="{{people.profile_image.url}}?v={{people.updated_at.timestamp}}" class="w-10 h-10 md:w-16 md:h-16 rounded-lg mb-1 md:mb-2 mx-auto">
                    <p class="text-xs font-semibold md:text-sm text-center">@{{people.user.username}}</p>
                    <p class='text-center text-gray-600'>{% if people.status %}{{ people.status }}{% else %}{{people.user.first_name}} {{people.user.last_name}}{% endif %}</p>
                    <p class="text-gray-500 text-xs md:text-sm mt-1">{{people.cringe_badge|default:"&nbsp;"}}</p>
                    {% if user.info|is_following:people %}
                            <a href="javascript:void(0);" class="follow-btn bg-[#464646] mt-1 md:mt-2 text-white px-2 md:px-3 py-1 rounded-md hover:scale-105 transition text-xs md:text-sm" data-user-id="{{ people.id }}">
                                <span class="btn-text">&lt;Unfollow/&gt;</span>
                            </a>
                    {% else %}
                        <a href="javascript:void(0);" class="follow-btn mt-1 md:mt-2 bg-[#6feb85] text-black px-2 md:px-3 py-1 rounded-md hover:scale-105 transition text-xs md:text-sm" data-user-id="{{ people.id }}">   
                            <span class="btn-text">&lt;Follow/&gt;</span>
                        </a>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div> 
    {% endif %}
    
{% endfor %}