{% load static %}

{% if section == 'posts' %}
<div class="mx-auto" id="savedPostSection">
    <div class="flex flex-col gap-y-6 gap-x-6 flex-wrap">
        {% if post_qs %}    
        {% for post in post_qs %}        
        <!-- Single Post -->
        <div class="bg-[#20242c] text-[#a8b3cb] shadow-md rounded-lg w-full max-w-[34rem] min-w-[20rem] lg:min-w-[30rem] p-4 mt-3" id='{{post.id}}'>
            <!-- User Info -->
            <div class="flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <a href='{% url "user_profile" userinfo_obj.user.username %}'>
                        <img src="{{post.user.profile_image.url}}?v={{post.user.updated_at.timestamp}}" alt="User" class="w-10 h-10 rounded-lg object-cover">
                    </a>
                    <div>
                        <a href='{% url "user_profile" userinfo_obj.user.username %}' class="font-semibold text-white">
                            {{ post.user.user.first_name }} {{ post.user.user.last_name }}
                        </a>
                        <p class="text-xs text-gray-500">{{ post.created_at|date:"F j, Y"  }}</p>
                    </div>
                </div>
                
                <!-- More Options Button -->
                {% if post.user == request.user.info %}
                <div class="relative">
                    <button id="postMenuTrigger-{{ post.id }}" class="text-gray-500 hover:text-gray-400 text-xl">
                        •••
                    </button>
                    <div id="postMenu-{{ post.id }}" class="hidden absolute right-0 top-8 flex-col backdrop-blur  shadow-mdz-10">
                        <a href="{% url 'delete_post' post.id %}" class="flex items-center gap-x-1 px-4 py-2 text-white rounded-xl hover:bg-red-900 bg-red-700 transition duration-200 w-full text-left">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Post Content -->
            <div class="prose prose-invert max-w-none mt-3 text-white [&_ul]:text-white [&_ol]:text-white [&_li]:text-white [&_p]:text-white [&_h1]:text-white [&_h2]:text-white [&_h3]:text-white [&_h4]:text-white [&_h5]:text-white [&_h6]:text-white [&_strong]:text-white [&_em]:text-white [&_a]:text-blue-400 [&_a:hover]:text-blue-300">
                {{post.content|safe}}
            </div>
            {% comment %} ORIGINAL = video | 1:1: SQUARE object-cover | 16: 9 = VIDEO object-cover{% endcomment %}
            <!-- Post Image -->
            <div class="mt-3 w-full {% if post.aspect == 'Original' or post.aspect == '16:9' %}aspect-video {% else %} aspect-square{% endif %} overflow-hidden">
                <img src="{{post.file.url}}" alt="Post" class="w-full h-full {% if post.aspect == 'Original' %}object-contain{% else %} object-cover{% endif %}">  
            </div>

            <!-- Actions -->
            <div class="flex justify-between mt-3 text-sm">
                <div class="flex gap-x-3">

                    <div class="flex items-center space-x-2 cursor-pointer like-container" data-post-id="{{ post.id }}">
                        <i class="text-xl fa-solid fa-heart {% if user.info in post.likes.all %}text-[#6feb85]{% endif %}"></i> 
                        <span class="like-count">{{ post.total_likes }}</span>
                    </div>

                    <div class="commentBtn flex items-center space-x-2 cursor-pointer hover:text-[rgb(111,235,133)]">
                        <i class="text-xl fa-solid fa-comment"></i> <span id='postCommentCount{{post.id}}'>{{post.tot_comments}}</span>
                    </div>
                </div>
                <div class="bookmarkBtn cursor-pointer bookmark-container" data-post-id = "{{ post.id }}">
                    <i class="text-xl fa-solid fa-bookmark {% if post in user.info.saved_items.posts.all %}text-[#6feb85]{% endif %}"></i>
                </div>
            </div>

            <!-- Comments Section -->
            <div class="mt-3 hidden commentsSection">

                <!-- Add a Comment -->
                <form method='post' action="{% url 'save_comment' %}" class="postCommentForm flex items-center space-x-2 mt-3" data-post-id="{{ post.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="text" name="comment" placeholder="Write a comment..." class="flex-1 border  border-gray-600 p-2 rounded-lg outline-none" required>
                    <button type='submit' class="bg-[#00a63e] text-white px-5 cursor-pointer py-2 rounded-md transition hover:scale-105"><i class="fa-solid fa-paper-plane"></i></button>
                </form>

                <!-- all Comments -->
                <div class="flex flex-col gap-y-4 mt-6"  id ='postCommentContainer{{ post.id }}'>
                    {% for comment in post.comments.all %}
                    <!-- single comment -->
                    <div class="flex items-start space-x-2" id="postComment{{ comment.id }}" >
                        <a href='{% url "user_profile" comment.user.user.username %}'><img src="{{comment.user.profile_image.url}}?v={{comment.user.updated_at.timestamp}}" alt="User" class="w-8 h-8 rounded-sm object-cover"></a>
                        <div class="bg-[#1a1f26] border border-gray-700 p-2 rounded-lg w-full flex flex-row items-center justify-between">
                            <div>
                                <a href='{% url "user_profile" comment.user.user.username %}' class="text-sm font-semibold -mt-2">{{comment.user.user.username}}</a>
                                <p class="text-sm mt-2">{{comment.content|linebreaksbr}}</p>
                            </div>
                            {% if comment.user == user.info %}
                            <button class="deletePostComment" data-comment-id="{{ comment.id }}">
                                <img src='{% static "assets/trash-bin.svg" %}' class='h-6 w-6 cursor-pointer'>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    <!-- end of single comment -->
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <i class="fa-solid fa-image text-8xl mx-auto mt-20"></i>
            {% if userinfo_obj.user == request.user %}
            <button class="flex flex-row gap-x-2 items-center bg-gray-300 text-black mx-auto p-2 rounded-2xl cursor-pointer -mt-3" onclick = "openPost()">
                <img src = '{% static "assets/plus-edit.svg" %}' class='w-4 h-4'>
                <p>Add Post</p>
            </button>
            {% endif %}
        <p class='text-center text-lg text-gray-400 pb-20 -mt-3'>No Posts Yet...</p>
        {% endif %}
    </div>
</div>
{% endif %}

